@media(min-width: 1405px) {
  .con-82374  {
    width: 400px;
  }
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.no-border  {
  border-width: 0 !important;
}

.icon-xl {
  width: 20px;
  height: auto;
  filter: invert(100%);
}

.scrollspy-profile {
  height: 300px;
  overflow: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides4169 {
  display: none;
}

.slide-prev, .slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
}

.slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slide-prev:hover, .slide-next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slider-dot {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-active .slider-dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1,5s;
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1}
}