@media(min-width: 1405px) {
  .con-82374  {
    width: 400px;
  }
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.no-border  {
  border-width: 0 !important;
}

.icon-xl {
  width: 20px;
  height: auto;
  filter: invert(100%);
}

.scrollspy-profile {
  height: 300px;
  overflow: auto;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto !important;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide-warpper {
  width: calc(728px * 4);
  animation: slide 10s ease infinite;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }
  40% {
    margin-left: calc(-728px * 1);
  }

  60% {
    margin-left: calc(-728px * 2);
  }

  80% {
    margin-left: calc(-728px * 3);
  }
}